@page "/cart"

@inject IViewShoppingCartUseCase viewShoppingCartUseCase

<h3>Shopping Cart</h3>

@code {

    private Order order;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            order = await viewShoppingCartUseCase.Execute();
            StateHasChanged();
        }
    }

}
